<div class="my-container" style="margin-top: 5em;">
  <div class="container">
    <span *ngIf="newsEventService.getUpcomingNews().length > 0">
      <h2 class="subtitle">Upcoming</h2>
      <app-news-item
        *ngFor="let newsevent of newsEventService.getUpcomingNews()"
        [newsevent]="newsevent"
      ></app-news-item>
    </span>
    <h2 class="subtitle">Recent</h2>
    <app-news-item
      *ngFor="let newsevent of newsEventService.getLatestNews()"
      [newsevent]="newsevent"
    ></app-news-item>
  </div>
</div>
