<div class="my-container">
  <div class="container">
    <!-- check https://www.stefanjudis.com/uses/ -->
    <h1 class="title mytitle">
      Things I use
    </h1>
    <div class="box">
      <p>
        I love my MacBook, and with the M1 chips I keep toying with the idea of
        getting a new MacBook. But since I switched to
        <strong>Ubuntu with i3</strong> a few years ago, I can't imagine doing
        that anymore. As soon as there is a comparable window manager for MacOS
        like i3, I'll switch again ;)
      </p>
    </div>
    <!-- MY COMPUTER -->
    <h2 class="subtitle mytitle">
      My Computer
    </h2>
    <div class="box">
      <p>
        My primary setup is a
        <a
          href="https://www.lenovo.com/us/en/laptops/thinkpad/thinkpad-x/ThinkPad-X1-Carbon-6th-Gen/p/22TP2TXX16G"
          target="_blank"
          >Lenovo Carbon X1 (6th gen)</a
        >
        with a
        <a
          href="https://www.samsung.com/de/monitors/wqhd-sj550/"
          target="_blank"
          >Samsung Ultra WQHD (S34J550WQU)</a
        >.
      </p>
      <p>
        I use standard Ubuntu with the
        <a href="https://i3wm.org/" target="_blank">window manager i3</a>. The
        biggest advantage for me: no UX. I have no menu to launch applications,
        or to switch between applications. It's all designed for me to use
        shortcuts as efficiently as possible to arrange windows, launch and
        close applications, and everything else you need. And the transition
        went extremely smoothly. If you haven't tried it yet, you should!
      </p>
      <p>
        In my
        <a href="https://github.com/urbanisierung/dotfiles" target="_blank"
          >dotfiles</a
        >
        you can find all configurations I use.
      </p>
    </div>
    <!-- PRODUCTIVITY -->
    <h2 class="subtitle mytitle">Productivity</h2>
    <div class="box">
      <p>
        I still use <strong>email</strong>, specifically Gmail. I've tried
        different email clients over and over but always fall back to the
        browser app. I use multiple inboxes to categorize emails, but basically
        I don't want any emails in my inbox at all. I'm a big fan of Inbox Zero.
        To minimize GMail to the bare minimum, I use the Chrome extension
        <a href="https://simpl.fyi/" target="_blank">Simplified GMail</a>.
      </p>
      <p>
        For <strong>notes</strong> and a <strong>knowledgebase</strong> I use
        respective private Github repositories, basically with Markdown files.
        For todos I use a Github project on one side and the standard iOS todo
        app on the other.
      </p>
    </div>
  </div>
</div>
