<div class="container">
    <!-- check https://www.stefanjudis.com/uses/ -->
  <h1 class="title">
    My Stack
  </h1>
  <p>
    I love my MacBook, and with the M1 chips I keep toying with the idea of
    getting a new MacBook. But since I switched to Ubuntu with i3 a few years
    ago, I can't imagine doing that anymore. As soon as there is a comparable
    window manager for MacOS like i3, I'll switch again ;)
  </p>
  <div class="columns">
    <div class="column">
      <h2 class="subtitle">Hardware</h2>
      <p>
        My primary setup is a
        <a
          href="https://www.lenovo.com/us/en/laptops/thinkpad/thinkpad-x/ThinkPad-X1-Carbon-6th-Gen/p/22TP2TXX16G"
          target="_blank"
          >Lenovo Carbon X1 (6th gen)</a
        >
        with a
        <a
          href="https://www.samsung.com/de/monitors/wqhd-sj550/"
          target="_blank"
          >Samsung Ultra WQHD (S34J550WQU)</a
        >.
      </p>
    </div>
    <div class="column">
      <h2 class="subtitle">OS</h2>
      <p>
        I use standard Ubuntu with the window manager i3. The biggest advantage
        for me: no UX. I have no menu to launch applications, or to switch
        between applications. It's all designed for me to use shortcuts as
        efficiently as possible to arrange windows, launch and close
        applications, and everything else you need. And the transition went
        extremely smoothly. If you haven't tried it yet, you should!
      </p>
      <p>
        In my dotfiles you can find all configurations I use.
      </p>
    </div>
  </div>
</div>
