<h1 class="title mytitle mytitle1">About</h1>
<div class="columns">
  <div class="column">
    <img src="assets/img/adam.jpg" alt="adam" />
  </div>
  <div class="column">
    <p style="font-size: 2em;">
      I'm Adam, a Software Engineer working remoteley for Camunda on their
      Camunda Cloud product in the south of Germany.
    </p>
    <p>
      I've been in software development for over 10 years now, and after a long
      time in backend development and an excursion into team management, I ended
      up in full stack development. And I am more than satisfied with that.
    </p>
    <p>
      My free time belongs to my family, but whenever time permits I work on my
      <a routerLink="/sideprojects" class="r-link link text-underlined"
        >projects</a
      >
      or start new ones, generate
      <a routerLink="/art" class="r-link link text-underlined">art</a>
      programmatically, or occasionally write
      <a routerLink="/articles" class="r-link link text-underlined"
        >blog posts</a
      >
      on topics I find interesting.
    </p>
  </div>
</div>
<app-books></app-books>
