<nav
  class="navbar is-background-blur is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/img/logo.png" width="28" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      [class.is-active]="opened"
      (click)="toggleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="opened">
    <div class="navbar-start">
      <a
        class="navbar-item header-item"
        *ngFor="let item of items"
        [routerLink]="item.route"
      >
        {{ item.name }}
      </a>
    </div>
    <div class="navbar-end">
      <app-social-icon
        *ngFor="let socialConnect of socialConnects"
        [socialConnect]="socialConnect"
      ></app-social-icon>
    </div>
  </div>
</nav>
