<article class="media">
  <figure class="media-left">
    <a
      href="{{ newsevent.url }}"
      rel="noopener"
      target="_blank"
      class="is-share-wrapper"
    >
      <fa-icon
        [icon]="getIcon()"
        class="is-share-icon is-size-3"
        aria-hidden="true"
      ></fa-icon>
    </a>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        {{ newsevent.title }}<br />
        <span class="is-size-7">
          {{ newsevent.timestamp | date: 'MMMM d, y' }},
          <a
            href="{{ newsevent.url }}"
            rel="noopener"
            target="_blank"
            class="r-link link text-underlined"
            >Show</a
          >
        </span>
      </p>
    </div>
  </div>
</article>
