<div class="container columns is-mobile">
  <div
    class="column"
    [class.is-2]="
      screensizeService.isSmallWidth || screensizeService.isMediumWidth
    "
    [class.is-1]="
      !screensizeService.isSmallWidth && !screensizeService.isMediumWidth
    "
  >
    <a
      href="{{ newsevent.url }}"
      rel="noopener"
      target="_blank"
      class="is-share-wrapper"
    >
      <fa-icon
        [icon]="getIcon()"
        class="is-share-icon is-size-3"
        aria-hidden="true"
      ></fa-icon>
    </a>
  </div>
  <div class="column">
    <p>
      {{ newsevent.title }}
    </p>
    <p class="is-size-7">
      {{ newsevent.timestamp | date: 'MMMM d, y' }},
      <a
        href="{{ newsevent.url }}"
        rel="noopener"
        target="_blank"
        class="r-link link text-underlined"
        >Show</a
      >
    </p>
  </div>
</div>
