<div class="columns is-vcentered">
  <div class="column">
    <h1 class="intro-title">
      Hi. I'm Adam.
    </h1>
    <h1 class="intro-title">
      An Engineer.
    </h1>
    <p class="intro-subtitle">With a penchant for design.</p>
  </div>
  <div class="column">
    <img
      src="assets/img/intro600.webp"
      srcset="assets/img/intro300.webp 480w, assets/img/intro600.webp 1080w"
      sizes="50vw"
      alt="headphones"
      class="intro-image"
      width="600"
      height="600"
    />
  </div>
</div>
