<div class="box is-clickable" style="margin-bottom: 1em;" (click)="open()">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          [src]="article.cover_image"
          [alt]="article.user.username"
          *ngIf="article.cover_image"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ article.title }}</strong
          ><br />
          <small>{{ article.published_at | date: 'MMMM d, y' }}</small>
          <br />
          {{ article.description }}
        </p>
      </div>
    </div>
  </article>
</div>
