<div class="card my-card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img
            [src]="job.company.logo"
            alt="{{ job.company.name }}"
            class="is-rounded"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title">
          {{ job.title }}
        </p>
        <p class="subtitle">
          <a href="{{ job.company.url }}" target="_blank"
            >@{{ job.company.name }}</a
          >
          <span>
            <fa-icon
              [icon]="mapIcon"
              aria-hidden="true"
              class="is-map-icon"
            ></fa-icon
            >{{ job.location }}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div
      class="content"
      *ngIf="screensizeService.isSmallWidth || screensizeService.isMediumWidth"
    >
      <p *ngFor="let item of job.description" [innerHTML]="item"></p>
    </div>
    <div class="content">
      <app-tech-tag *ngFor="let tag of job.tech" [tag]="tag"></app-tech-tag>
    </div>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span> {{ job.from }} - {{ job.to }} </span>
    </p>
    <p class="card-footer-item">
      <span>{{ job.duration }}</span>
    </p>
  </footer>
</div>
