/* ~~~~~~~~~~~~ FONTS ~~~~~~~~~~~~ */

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcg72j00.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKew72j00.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcw72j00.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfA72j00.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcQ72j00.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* ~~~~~~~~~~~~ VARIABLES: COLORS, FONT, ... ~~~~~~~~~~~~ */

// cta: #F1AE7B
// selected: #C84F5E
// hover: #C66E80

$highlight: #fff591;
$my-primary: #106ed0;
$my-item-hover: #f8f8f8;
$my-bg-color: #fefaf6;
$my-dark-grey: #dfdfe2;
$my-blue: #61b9f3;
$my-grey: #a4a4ab;

$menu-item-active-background-color: $my-primary;
$primary: $my-primary;
$text: #292929;
$family-sans-serif: 'Ubuntu', sans-serif;

/* ~~~~~~~~~~~~ EXTERNAL IMPORTS ~~~~~~~~~~~~ */

@import '~bulma/bulma.sass';

/* ~~~~~~~~~~~~ CSS ELEMENTS ~~~~~~~~~~~~ */

html {
  background-color: $my-bg-color;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.my-card {
  background: rgb(228, 198, 226);
  background: linear-gradient(
    0deg,
    rgba(228, 198, 226, 1) 0%,
    rgba(214, 198, 206, 1) 36%,
    rgba(235, 198, 116, 1) 100%
  );
  border-radius: 2em;
}

/* ~~~~~~~~~~~~ CSS CLASSES ~~~~~~~~~~~~ */

/* ============ GRID ============ */

.my-grid {
  display: grid;
  grid-template-columns: [social] 50px [main] auto [contact] 50px;
  grid-template-rows: [header] 50px [main] auto;
  width: 100vw;
  height: 100vh;
}

.is-header {
  grid-column: social / 3;
  grid-row: header;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .my-grid {
    display: grid;
    grid-template-columns: [main] 100%;
    grid-template-rows: [header] 50px [main] auto;
    width: 100vw;
    height: 100vh;
  }

  .is-header {
    grid-column: main;
    grid-row: header;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
  }
}

.is-main {
  grid-column: main;
  grid-row: main;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.is-social {
  grid-column: social;
  grid-row: main;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

/* ============ GRID ============ */
